*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 119, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 430px;
    border-radius: 10px;
    padding: 22px;
    justify-content: center;
    align-content: center;
    transition: ease-in 0.3s ;

}
.container{
    
    text-align: center;
    


}
.title{
    margin-bottom: 5px;
    font-size: 22px;
    white-space: nowrap;
    transition: ease-in 0.3s ;

}
.description{
    font-size: 15px; 
    margin-top: 12px;  
    transition: ease-in 0.3s ;

}

img{
    width: 150px;
    margin-top: 12px;
    transition: ease-in 0.3s ;
}
button{
    background-color: rgb(255, 242, 0);
    color: rgb(0, 0, 0);
    width: 122px;
    height: 33px;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid rgba(189, 189, 189, 0.504);
    border-radius: 8px;
    transition: ease-in 0.3s ;
}
button:hover{
    background-color: rgb(0, 153, 255);
    color: rgb(255, 255, 255);
}

.contact_card{
    background-color: rgb(255, 255, 255);
    width: 540px;
    height: 440px;
    position: absolute;
    border-radius: 12px;
    visibility: hidden;
    /* justify-self: center;
    align-self: center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in 0.3s ;

}
.contact_card .title{
    margin-top: 12px;
}
/* From Uiverse.io by omriluz */ 
.form-container {
  width: 400px;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(145deg, transparent ,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  transition: ease-in 0.3s ;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #393737;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #000000;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #000000;
  height: 96px;
  border: 1px solid #000000;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #0800ff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #0095ff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #ffffff;
  font-weight: 600;
  width: 40%;
  background: #00b7ff;
  border: 1px solid #e7bb2b6d;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
  align-self: center;
  height: 42px;
}

.form-container .form-submit-btn:hover {
  background-color: #ffc800;
  border-color: #ffaa0055;
}




@media (max-width : 600px) {
    .card{
        width: 250px;
        height: 210px;
    }
    .title{
        font-size: 18px;
    }
    .description{
        font-size: 12px;
    }
    img{
        width: 62px;
    }
    button{
        width: 85px;
        height: 25px;
        font-size: 13px;
        margin-top: 4px;
    }
    .contact_card{
        width: 260px;
        height: 440px;
        
    }
    .contact_card .title{
        
        font-size: 15px;
    }

    .form-container{
        width: 240px;
    }
}
@media (max-width : 300px) {
    .card{
        width: 160px;
        height: 140px;
    }
    .title{
        font-size: 10px;
    }
    .description{
        font-size: 7px;
    }
    img{
        width: 22px;
    }
    button{
        width: 51px;
        height: 22px;
        font-size: 8px;
        margin-top: 4px;
    }
}